---
layout: default
permalink: /
---

<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">{{ site.title }}<br></div>
            <div class="intro-lead-in">{{ site.dates }}</div>
            <!-- <div class="intro-lead-in">Location</div> -->
            <!-- <a href="#intro" class="page-scroll btn btn-xl">Tell Me More</a> -->
        </div>
    </div>
</header>

{% include intro.html %}
<h1 class="text-center">Agenda</h1>
{% include agenda.html %}