<section class="agenda bg-light-gray">
    <div class="container">

    {% for agenda in site.data.agenda %}
    <div class="event-day">
        <h1 class="event-date">
            {{ agenda.date }}
        </h1>
        <div class="agenda">
            <div class="grid" style="--tracks-number: {{ agenda.tracks }};">
                {% for slot in agenda.slots %}
                    <div class="event-slot-time" style="grid-area: {{ forloop.index }} / 1;">
                        {{ slot.start }}
                    </div>
                    {% assign slotIndex = {{forloop.index}} %}
                    {% for sessionId in slot.sessions %}
                        {% assign sessionIndex = {{forloop.index}} %}
                        {% assign sessionPath = "_sessions/" | append: sessionId | append: ".md" %}
                
                        {% for session in site.sessions %}
                            {% if session.path == sessionPath %}
                            <a href="{{session.url | relative_url }}" class="session" style="grid-area: {{ slotIndex }} / {{ sessionIndex |plus:1 }}">
                                <div class="session-infos">
                                    <div class="session-title">{{ session.title }}</div>
                                    <div class="session-abstract">{{ session.content | markdownify}}</div>
                                </div>
                                <div class="session-speakers">
                                    {% for speakerId in session.speakers %}
                                        {% for speaker in site.data.speakers %}
                                            {% if speaker.id == speakerId %}
                                            <div class="session-speaker">
                                                <div>
                                                    <img src="{{ speaker.image | prepend:"images/speakers/" | relative_url }}" alt="{{ speaker.display_name }}">
                                                </div>
                                                <div>
                                                    <div>{{ speaker.display_name }}</div>
                                                    <div class="speaker-company">{{ speaker.company }}</div>
                                                </div>
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            </a>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</section>