<section id="faq">
    <div class="container">
        <ul>
            {% for faq in site.data.faq %}
            <li><b>{{ faq.question }}</b>
                <br>{{ faq.answer }}<br><br>
            </li>
            {% endfor %}
        </ul>
        <!-- <p>
            For further enquiries, kindly submit your question via the <a href="/#contacts">contact us</a>
            page or send us an email at <a href="mailto:hello.world@gmail.com">hello.world@gmail.com</a>
        </p> -->
    </div>
</section>