<nav class="navbar navbar-default navbar-dark navbar-expand-lg fixed-top navbar-default-color">
    <div class="container">
        <a class="navbar-brand" href="{{ '/' | relative_url }}">
            <img src="{{ 'images/logos/logo-small-transparent.png' | relative_url }}" alt="" width="auto" height="60"
                class="d-inline-block align-text-top logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">
            <ul class="navbar-nav nav mb-2 mb-lg-0">
                {% for navigationLink in site.navigationLinks %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ navigationLink.url | absolute_url }}">{{ navigationLink.text }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>