<section id="speakers" class="speakers bg-light-gray">
    <div class="container">
        <div class="row">
            {% assign speakerSorted = site.data.speakers | sort: 'name' %}
            {% for person in speakerSorted %}
            <div class="col-md-4 col-sm-6">
                <a href="{{"speakers/" | append: person.id | relative_url }}" class="speaker-item">
                    <img src="{{ person.image | prepend: "images/speakers/" | relative_url }}"
                        class="img-responsive img-centered width-100p speaker-avatar" alt="">
                    <div class="speaker-info">
                        <h4>{{ person.display_name }}</h4>
                        <p class="text-muted">{{ person.company }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>