.event {

  img {
    width: 100%;
  }
  a {
    color: darkblue;
  }
  h2, h3, ol, p {
    color: black; 
    text-align: left;
  }
  p, ol {
    font-size: 110%;
  }
}

.event-day {
  margin-bottom: 3em;

  &:last-child {
    margin-bottom: 0;
  }
}

.event-date {
  font-size: 2em;
  text-align: center;
}

.session {
  .session-title {
    font-size: 20px;
    line-height: 1.2;
  }
  .session-abstract {
    padding-top: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;

    p {
      margin: 0;
      line-height: inherit;
      font-size: inherit;
    }
  }

  .session-speakers {
    padding-top: 32px;
    
    .session-speaker {
      display: flex;
      flex-direction: row;
      font-size: 14px;
      padding-bottom: 10px;

      &:last-child {
        padding-bottom: 0px;
      }

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: 12px;;
      }

      .speaker-company {
        font-size: 12px;
      }

      .social-links i {
        margin-right: 1em;
      }
    }
  }
}
.agenda {
  margin-left: auto;
  color: #424242;

  .event-slot-time {
    text-align: right;
    color: #757575;
    font-size: 32px;
    font-weight: 100;
  }

  .session {
    border: solid 1px #e2e2e2;
    border-radius: 4px;
    padding: 16px;
    text-decoration: none;
    color: inherit;
    transition: border 200ms ease-in-out, box-shadow 200ms ease-in-out;
    background-color: #fff;

    &:hover {
      border: solid 1px #c3c3c3;
      box-shadow: 0px 0px 3px 2px #e8e8e8;
    }
  }
}

.grid {
  display: grid;
  grid-column-gap: 16px;
  grid-row-gap: 32px;
  grid-template-columns: auto repeat(calc(var(--tracks-number)), 1fr);
}