---
layout: default
---

{% include /session-header.html %}

<section id="session">
    <div class="container session">
        <div class="content">
            <div class="session-details">
                {% for agenda in site.data.agenda %}
                    {% assign date = agenda.date %}
                    {% for slot in agenda.slots %}
                        {% if slot.sessions contains page.uid %}
                            {{date}} - {{slot.start}} - {{slot.end}}
                        {% endif %}
                    {% endfor %}
                    
                {% endfor %}
            </div>
            {{ content }}
        </div>
        {% if page.speakers and page.speakers.size != 0 %}
        <hr />
        <div class="session-speakers">
            {% for speakerId in page.speakers %}
                {% for speaker in  site.data.speakers %}
                    {% if speaker.id == speakerId %}
                    <div class="session-speaker mb-4">
                        <div>
                            <img src="{{ speaker.image | prepend:"images/speakers/" | relative_url }}" alt="{{ speaker.display_name }}" />
                            </div>
                        <div class="speaker-infos">
                            <div class="speaker-name">
                                <a href="{{"speakers/" | append: speaker.id | relative_url }}">{{ speaker.display_name }}</a></div>
                            <div class="speaker-company">{{ speaker.company }}</div>
                            <div class="social-links">
                                {% for social in speaker.social %}
                                    <a href="{{ social.url }}" target="_blank"><i class="bi bi-{{ social.name }}"></i></a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
</section>