
{% include css/style.css %}
{{ content }}


.header {
    min-height: 50vh;
    color: #000;
    padding-top: 110px;
}

.header .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5em;
}

.width-100p {
    width: 100%;
}

.speaker-header img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    border: solid 1px #fff;
    box-shadow: 0px 0px 4px 0px #fff;
}

#speaker .session {
    padding: .5rem 0 .5rem 1rem;
}

#speaker .session .session-details {
    font-size: .85rem;
}


#sponsors img {
    max-height: 150px;
    width: auto;
    max-width: 100%
}
  
.logo {
    filter: drop-shadow(0px 0px 2px #000000);
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255);
}

footer {
    padding: 4em 0;
    background-color: #222;
    color: #8a8a8a;
}

footer a {
    padding: .5rem;
    color: #fff;
}
